<div class="player-container" [ngClass]="{'active': player.isPlayerActive}">
  <div class="flex-container player-info">
    <div class="player-name flex-item">{{player.playerName}}</div>
    <div class="player-scores flex-item align-right">{{player.playerTotalScore}}</div>
  </div>

  <div class="flex-container player-info">
    <div class="player-sector flex-item">20</div>
    <div class="player-score-lines flex-item align-right">| | |</div>
  </div>

  <div class="flex-container player-info">
    <div class="player-sector flex-item">19</div>
    <div class="player-score-lines flex-item align-right">| | |</div>
  </div>

  <div class="flex-container player-info">
    <div class="player-sector flex-item">18</div>
    <div class="player-score-lines flex-item align-right">| | |</div>
  </div>

  <div class="flex-container player-info">
    <div class="player-sector flex-item">17</div>
    <div class="player-score-lines flex-item align-right">| | |</div>
  </div>

  <div class="flex-container player-info">
    <div class="player-sector flex-item">16</div>
    <div class="player-score-lines flex-item align-right">| | |</div>
  </div>

  <div class="flex-container player-info">
    <div class="player-sector flex-item">15</div>
    <div class="player-score-lines flex-item align-right">| | |</div>
  </div>

  <div class="flex-container player-info">
    <div class="player-sector flex-item">
      <div class="bull-green">
        <div class="bull-red"></div>
      </div>
    </div>
    <div class="player-score-lines flex-item align-right">| | |</div>
  </div>
</div>